clarabel==0.6.0
cvxpy==1.4.1
ecos==2.0.12
numpy==1.26.1
osqp==0.6.3
Pillow==10.1.0
pybind11==2.11.1
qdldl==0.1.7.post0
scipy==1.11.3
scs==3.2.3
torch==2.1.0
torchvision==0.16.0
typing_extensions==4.8.0
